/* Import the Tailwind CSS primitives*/
@import 'tailwindcss';

@theme {
  /* Define color palette */
  --color-background: #0d0208;
  --color-matrix-green: #00ff41;
  --color-matrix-green-dark: #008f26;
  --color-text-primary: #e0e0e0;
  --color-text-secondary: #a0a0a0;

  /* Define font family */
  --font-mono: 'Fira Code', monospace;

  /* Define animations */
  --animation-glitch: glitch 0.3s linear;
  @keyframes glitch {
    from,
    to {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-2px, 2px);
    }
    50% {
      transform: translate(2px, -2px);
    }
    75% {
      transform: translate(-2px, -2px);
    }
  }
}

/*
  Apply theme variables to the base layer.
*/
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-mono);
  }

  a {
    color: var(--color-matrix-green);
    transition: color 0.2s;
  }
  a:hover {
    color: var(--color-matrix-green-dark);
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--color-background);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-matrix-green-dark);
    border-radius: 5px;
    border: 2px solid var(--color-background);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-matrix-green);
  }
}
